@model cinemaCore.Models.tarjeta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.docPropietario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.docPropietario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nombrePropietario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombrePropietario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.saldo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.recarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.recarga)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idTarjeta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
