@model IEnumerable<RingsOnFire.Models.encargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaEncargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaEntrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anillo.material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEncargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anillo.material)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEncargo }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEncargo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEncargo })
        </td>
    </tr>
}

</table>
