@model RingsOnFire.Models.anillo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>anillo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.circunferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.circunferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAnillo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
