@{
    ViewBag.Title = "Cinemas S.A";
}

<div class="jumbotron">
    <h1>Administrador Cinemas S.A</h1>
   
   
</div>

<div class="row">
    <div class="col-md-4">

        <h2>Salas</h2>
        <p>@Html.ActionLink("Vicualizar Salas", "Index", "Salas")</p>
        <p>@Html.ActionLink("Crear Sala", "Create", "salas")</p>
        <p>@Html.ActionLink("Eliminar Sala", "Delete", "salas")</p>
        <p>@Html.ActionLink("Editar Sala", "Edit", "salas")</p>

    </div>
    <div class="col-md-4">
        <h2>Reservas</h2>
        <p>@Html.ActionLink("Visualizar Reservas", "Index", "reservas")</p>
        <p>@Html.ActionLink("Crear Reserva", "Create", "reservas")</p>
        <p>@Html.ActionLink("Eliminar Reserva", "Delete", "reservas")</p>
        <p>@Html.ActionLink("Editar Reserva", "Edit", "reservas")</p>

    </div>
    <div class="col-md-4">
        <h2>Tarjetas</h2>
        <p>@Html.ActionLink("Visualizar Tarjetas", "Index", "Tarjetas")</p>
        <p>@Html.ActionLink("Crear Tarjeta", "Create", "Tarjetas")</p>
        <p>@Html.ActionLink("Editar Tarjeta", "Edit", "Tarjetas")</p>
        <p>@Html.ActionLink("Eliminar Tarjeta", "Delete", "Tarjetas")</p>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Sillas", "Index", "Sillas")</h2>
        <p></p>
       
    </div>
</div>